    div{
        filter:alpha(Opacity=90);-moz-opacity:0.8;opacity:0.8;
      
}
#one,two{
 /* background: linear-gradient(to bottom right, pink, blue);*/
     background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        position: relative;
        border: none;
        width:40px
        /*line-height: 5px;*/
        height:auto;
    /* float:left*/
}
/*
    #body {
        margin: 0;
        padding: 0;

*/
    }
