    div{
        filter:alpha(Opacity=90);-moz-opacity:0.8;opacity:0.8;
        background: linear-gradient(to bottom right, blue, pink);
        position: relative;
        border: 1px solid #ebd89d;
        line-height: 5px;
}
#one {
        height: 30vh;
        width: 40ch;
        left: 0px;
        top: 0px;
    }
    
    #two {
        height: 30vh;
        width: 40ch;
        left: 90vh;
        top: -175px;
    }
    
    #body {
        margin: 0;
        padding: 0;
        /*overflow: hidden;*/
    }
