    div{
        filter:alpha(Opacity=90);-moz-opacity:0.8;opacity:0.8;
      
}
#one,two{
 /* background: linear-gradient(to bottom right, pink, blue);*/
     background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        position: relative;
        border: none;
        line-height: 5px;
}
#one {
        height: 30vh;
        width: 40ch;
        left: 0px;
        top: 0px;
    }
    
    #two {
        height: 30vh;
        width: 40ch;
        left: 90vh;
        top: -175px;
    }
    
    #body {
        margin: 0;
        padding: 0;
        /*overflow: hidden;*/
    }
